[class*="-brand-icon"] {
  font-size: 3em;
  text-decoration: none;
}

.whatsapp-brand-icon:hover {
  background-color: white;
  border-radius: 5px;
  color: var(--whatsapp-color);
  cursor: pointer;
}

.whatsapp-brand-icon:focus {
  outline: 0;
}

.clipboard-icon:hover {
  cursor: pointer;
  color: var(--silver);
}

.linkedin-brand-icon:hover {
  color: var(--linkedin-color);
}

.github-brand-icon:hover {
  color: var(--github-color);
}

.facebook-brand-icon:hover {
  color: var(--facebook-color);
}

.mail-brand-icon:hover {
  color: var(--sun-flower);
}

.youtube-brand-icon:hover {
  color: var(--youtube-color);
}

.dailymotion-brand-icon:hover {
  color: var(--dailymotion-color);
}
