:root {
  /* Flat UI Palette v1 */
  --midnight-blue: #2c3e50;
  --wet-asphalt: #34495e;
  --dracula-orchid: #2d3436;
  --black-pearl: #1e272e;
  --good-night: #485460;
  --silver: #bdc3c7;
  --clouds: #ecf0f1;
  --concrete: #95a5a6;
  --belize-hole: #2980b9;
  --blue-marina: #12cbc4;
  --peter-river: #3498db;
  --electron-blue: #0984e3;
  --merchant-marine-blue: #0652dd;
  --emerald: #2ecc71;
  --alizarin: #e74c3c;
  --red-pigment: #ea2027;
  --carrot: #e67e22;
  --sun-flower: #f1c40f;
  --amethyst: #9b59b6;
  --indigo: #3f00ff;

  --linkedin-color: #0077b5;
  --github-color: #24292e;
  --facebook-color: #4267b2;
  --whatsapp-color: #00e676;
  --not-black: #121212;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-pearl);
  font-family: "Quicksand", Calibri, "Trebuchet MS", sans-serif, cursive;
  padding-top: 56px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Extending the orginal class from Bootstrap */
.navbar {
  background-color: var(--black-pearl);
}

/* Extending the orginal class from Bootstrap */
.navbar-nav .nav-link {
  text-align: center;
}

/* Extending the orginal classes from Bootstrap */
.btn-outline-success {
  color: var(--emerald);
  border-color: var(--emerald);
}

.btn-outline-success:hover {
  background-color: var(--emerald);
  border-color: var(--emerald);
}
.btn-outline-success.disabled,
.btn-outline-success:disabled {
  /* color: var(--emerald); */
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  background-color: var(--emerald);
  border-color: var(--emerald);
}

.btn-success {
  background-color: var(--emerald);
  border-color: var(--emerald);
}

.btn-success.disabled,
.btn-success:disabled {
  background-color: var(--emerald);
  border-color: var(--emerald);
}

a.btn {
  border-radius: 40px;
}

.download-button {
  margin: 1rem;
}

.download-button button {
  border-radius: 40px;
}

.linkedin-icon:hover {
  color: var(--linkedin-color);
}

.github-icon:hover {
  color: var(--github-color);
}

.facebook-icon:hover {
  color: var(--facebook-color);
}

.whatsapp-icon:hover {
  color: var(--whatsapp-color);
  cursor: pointer;
}

.whatsapp-icon:focus {
  /* border-color: #ccc; */
  outline: 0;
}

.br-50 {
  border-radius: 50%;
}

/* I can't select the body of the popover for
the WhatsApp number, so I am making a general rule */
.popover {
  color: var(--good-night);
  text-align: center;
}

.card-deck {
  justify-content: space-evenly;
}

.card-deck .card {
  margin: 0 0 1rem;
}

.card-body {
  padding: 1rem 0.5rem;
  background-color: var(--not-black);
}

.text-red-pigment {
  color: var(--red-pigment);
}

.text-emerald {
  color: var(--emerald);
}

.text-sun-flower {
  color: var(--sun-flower);
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .download-button {
    margin: 0;
  }
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
