.popover-contact {
  font-size: 3em;
  text-decoration: none;
  /* Do not replace it with text-white */
  color: white;
}

.popover-contact:hover {
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  color: var(--whatsapp-color);
  cursor: pointer;
}

.popover-contact:focus {
  /* border-color: #ccc; */
  outline: 0;
}

.clipboard-icon:hover {
  cursor: pointer;
  color: var(--silver);
}
